# Python
backend/.venv/
__pycache__/
*.pyc

# Node.js
frontend/node_modules/
frontend/build/

# PyCharm
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml

# OS
.DS_Store
Thumbs.db
